body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #121212;
}

section {
  padding: 0 125px 150px 125px;
}

.section-black {
  background-color: #121212;
}

.home,
.historys,
.projects {
  margin: 0 auto;
  width: 1150px;
  background: #ffffff;
}

h1 {
  width: 956px;
  margin-bottom: 30px;
  font-size: 60px;
  letter-spacing: -1.8px;
}

.home-fon {
  position: relative;
  width: 1150px;
  height: 500px;
  background-image: url(../resources/кресло.png);
}

.home-text {
  position: absolute;
  left: 40px;
  top: 379px;
  width: 430px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
  color: #ffffff;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.history {
  margin-bottom: 30px;
  width: 1048px;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -1.35px;
}

.btn {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
  color: #ad1818;
  text-decoration: none;
}

.history-btn {
  padding: 20px 40px;
  display: inline-flex;
  border-radius: 5px;
  color: #ffffff;
  background: #ad1818;
  cursor: pointer;
}

.project-img {
  margin-bottom: 90px;
}

h3 {
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.9px;
}

.project-text {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-base {
  display: block;
  width: 1150px;
  height: 153px;
  line-height: 153px;
  border-radius: 5px;
  border: 1px solid #ad1818;
  text-align: center;
  font-size: 30px;
  color: #ad1818;
  text-decoration: none;
  letter-spacing: -0.9px;
  cursor: pointer;
}

.btn-base:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.services {
  margin: 0 auto;
  width: 1150px;
}

.price_white {
  color: #fff;
}

.price {
  margin-bottom: 60px;
}

.price:nth-last-child(1) {
  margin-bottom: 0;
}
