body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background: #f5f5f5;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 125px;
  width: 1400px;
  height: 7211px;
  background: #ffffff;
}

.home {
  margin-bottom: 150px;
}

.interior {
  width: 1150px;
  height: 650px;
}

h1 {
  width: 956px;
  margin-bottom: 30px;
  font-size: 60px;
  letter-spacing: -1.8px;
  color: #121212;
}

.img-fon {
  width: 1150px;
  height: 500px;
  background-image: url(../resources/кресло.png);
}

.img-text {
  padding: 379px 680px 40px 40px;
  width: 430px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
  color: #ffffff;
}

.historys {
  margin-bottom: 150px;
}

.history_home {
  width: 1051px;
}

h2 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  color: #121212;
}

.projects {
  margin-bottom: 150px;
}

.header {
  margin-bottom: 30px;
}

.history {
  margin-bottom: 30px;
  width: 1048px;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -1.35px;
  color: #121212;
}

.btn {
  padding: 20px 40px;
  display: inline-flex;
  border-radius: 5px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
  color: #ffffff;
  background: #ad1818;
  text-decoration: none;
  cursor: pointer;
}

.project {
  width: 1150px;
  height: 2122px;
}

.project-img {
  margin-bottom: 90px;
}

h3 {
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.9px;
  color: #121212;
}

.text {
  margin-top: 15px;
  margin-bottom: 15px;
}

.project-btn {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.6px;
  color: #ad1818;
  text-decoration: none;
}

.btn-base {
  display: block;
  width: 1150px;
  height: 153px;
  border-radius: 5px;
  border: 1px solid #ad1818;
  text-align: center;
  font-size: 30px;
  color: #ad1818;
  text-decoration: none;
  line-height: 153px;
  letter-spacing: -0.9px;
  cursor: pointer;
}

.btn-base:hover {
  background-color: #ad1818;
  color: #ffffff;
}

.container__black {
  padding-top: 151px;
  background-color: #121212;
  width: 1400px;
  height: 1844px;
}

.header_white {
  margin-bottom: 34px;
  color: #ffffff;
}

.text_white {
  margin-top: 15px;
  margin-bottom: 60px;
  color: #ffffff;
}
